.wrapper {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

.icon_next,
.icon_prev {
  width: 13px;
  height: 20px;
  background-image: url('./chevron.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.icon_prev {
  margin-right: 10px;
  transform: rotate(180deg);
}

.currency_name {
  width: 32px;
  margin-right: 10px;
}

.children_wrapper {
  flex-grow: 1;
}
