.value_wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;

  max-width: 100px;
  height: 30px;
  margin-right: 10px;

  text-align: right;
}

.value {
  transition: font-size 0.1s ease-in-out;
}

.rate_wrapper {
  font-size: 12px;

  padding-top: 10px;
  padding-left: 10px;
}
